[Desktop Entry]
Version=1.5
Type=Application
Name=AstroPi-System
GenericName=AstroPi-System
Comment=Gear for astrophotography experience
Icon=/home/astropi/.local/share/astropi/include/solar-system.svg
Exec=/usr/bin/AstroPi.sh
Terminal=false
NotShowIn=GNOME;XFCE
StartupNotify=false
Categories=Utility
NoDisplay=false
