[Desktop Entry]
Type=Application
Name=AstroPi-System
GenericName=AstroPi-System
Comment=Gear for astrophotography experience
Icon="${HOME}"/.local/share/astropi/include/solar-system.svg
Exec=/usr/bin/AstroPi.sh
Terminal=false
NotShowIn=GNOME;XFCE
StartupNotify=false
Categories=Utility
NoDisplay=false
