[Unit]
Description=Automatically AstroPi Hotspot

[Service]
Type=oneshot
RemainAfterExit=yes
Environment="DISPLAY=:0"
Environment="XAUTHORITY=/home/$USER/.Xauthority"
ExecStart=/usr/bin/autohotspot

[Install]
WantedBy=graphical.target
